@import "./base";
@import "./mixins.scss";


.steps {
    &-container{
              
        .icons-blocks{
            justify-content: space-between;
            align-self: center;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            margin: 40px 50px 39px 50px;
            @include mobile{
                grid-template-columns: 1fr;
            }
        }
        .checkbox{
            margin-top: 20px;
            display: flex;
        }   
    }
  
  }
  