@import "./base";
@import "./mixins.scss";


.steps {
    &-container{
        position: relative;
        width: 93%;
        height: 50%;
        display: flex;
        margin: 0 auto;
        padding: 10px 40px;
        min-height: 500px;
        @include mobile{
            grid-template-columns: 1fr;
            padding: 70px 0px;
        }
      
    }
  
  }
  